<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="icon" type="image/png" href="{% asset_path icon.png %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,200">

  {% stylesheet main %}
</head>
